batch_size: 64
num_epochs: 5
print_batch_frequency: 10
model_type: 'vt' # 'cnn' or 'vt'
save_weights_path: 'skipped_residuals_6.pth'
save_checkpoint_path: 'checkpoint_residuals_6_checkpoint.pth'
skip_train_and_test: false
cnn:
  pretrained: true
  freeze_pretrained_layers: true
  learning_rate: 0.01
  num_layers_to_drop: 2
  model: 18 # 18 or 34 or 50 or 101 or 152
vision_transformer:
  pretrained: false
  freeze_pretrained_layers: false
  learning_rate: 0.00001
  num_encoder_layers_to_drop: 0
  model: 'base' # 'base' or 'large'
  drop_residual_connections: 6
  path_to_weights: 'skipped_residuals_6.pth' # '' # path to pretrained weights
